
<br> <br>  <h1 id="h1"> Welkom </h1> <br>

<p id="h2"> Ik heb mijn best gedaan om mijn angular information te herinneren na 2 jaar werkonderbreking van angular, en deze casus op te lossen en netjes klaar te maken ....
    <br> <br>
    
    Ik heb de casus geprobeerd om een website vorm te maken omdat  zo mooier kan zijn. <br> <br>
    
    u kunt zien wat ik heb gemaakt en wat voor manieren heb gebruikt. <br><br>
    
    ik heb een beetje uitgebereid met de casus om duidelijk testen manieren te laten zien en hier heb ik aantal voorbeelden aangegeven netals: <br>
    <br> 1- alleen button's testen in de (maag pagina , antibiotic pagina) omdat de velden default waren al ingevuld. <br> <br>
    2- de velden en de button's heb ik laten getest in de (recept toevoegen pagina, andere recept pagina) omdat de velden leeg zijn.
    

<br><br><br><br>
Met vriendelijke groet, <br>
Ahmad Alsermany

</p>
<router-outlet></router-outlet>