.spacer{
    flex: 1 1 1 auto;
    
}

#footer{
    width: 100%;
   
  
}

#toolbar{
    padding: 2cm;
    margin-top: 13.5cm;
}

#p{
    margin-right: auto;
    margin-left: auto;
    font-size: 15px;
}