


.content-sidebar-wrap {
  max-width: 990px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
  padding: 57px 0 0;}

  #h1{
    padding: 15px;
    color: rgb(11, 8, 58);
    font-style: oblique;
    font-size: 1cm;
    border: 1;
    border-color: rgb(104, 178, 201);
    border-style: double;
   
    
}

#h2{
    padding: 1cm;
    color: rgb(11, 8, 58);
    font-style: oblique;
    font-size: 0.5cm;
    
   
    
}