<div class="content-sidebar-wrap"><div id="main"><main class="block"><article class="post-449 post type-post status-publish format-standard category-geen-categorie entry" itemscope="" itemtype="https://schema.org/CreativeWork"><header class="entry-header"><h1 class="entry-title" itemprop="headline" id="h1">2e vaccinatie in de huisartsenpraktijk</h1>
   <p class="entry-meta" id="h2"><time class="entry-time" itemprop="datePublished" datetime="2021-06-04T06:27:04+00:00">4 juni 2021</time></p></header><div class="entry-content" id="h2" itemprop="text"><p>In april zijn we begonnen met het vaccineren van patiënten geboren in de jaren 1956 – 1960, met het AstraZeneca vaccin. De <strong>2e vaccinatie</strong> vindt plaats op <strong>1 juli</strong>. Bij uw uitnodiging zat een oproepkaart waarvan u de onderste helft terug heeft gekregen. Hierop staat de tijd waarop u wordt verwacht.&nbsp; Wij vaccineren op 1 juli weer in het Huis van de Wijk, tegenover de praktijk.</p>
   <p>Bent u in april niet geweest en wilt u dat alsnog? Of wilde u niet het Astra Zeneca vaccin maar wel een ander vaccin? U kunt nu online via&nbsp;<a href="https://coronatest.nl/ik-wil-me-laten-vaccineren/heeft-u-een-uitnodiging-gehad-wegens-medische-indicatie" target="_blank" rel="noopener">coronatest.nl</a>&nbsp;een afspraak maken bij de GGD, u krijgt dan een ander vaccin.</p>
   <p>Patiënten die na 1960 zijn geboren, krijgen automatisch een oproep van de GGD. Op&nbsp;<a href="https://www.rijksoverheid.nl/onderwerpen/coronavirus-vaccinatie/prikuitnodiging-en-afspraak" target="_blank" rel="noopener">deze pagina</a>&nbsp;van de rijksoverheid kunt u zien welke leeftijdsgroep er nu aan de beurt is om een afspraak te maken bij de GGD.</p>
   </div><footer class="entry-footer"></footer></article></main><div class="move-block-holder"></div></div><aside class="sidebar sidebar-primary widget-area" role="complementary" aria-label="Primaire Sidebar" itemscope="" itemtype="https://schema.org/WPSideBar"><div class="aside-box">
      
     
   </div>        <div class="block aside-block">
              
              
                       
   
                   </div>
            


      <hr>

      <br>

      <div id="main"><main class= "block"><article class="post-434 post type-post content-sidebar-wrap  status-publish format-standard category-geen-categorie entry" itemscope="" itemtype="https://schema.org/CreativeWork"><header class="entry-header"><h1 class="entry-title" itemprop="headline" id="h1">Coronavaccinaties in de praktijk</h1>
         <p class="entry-meta" id="h2"><time class="entry-time" itemprop="datePublished" datetime="2021-04-13T14:30:01+00:00">13 april 2021</time></p></header><div class="entry-content" id="h2" itemprop="text"><p id>Binnenkort gaat de praktijk de eerste vaccinaties tegen corona geven. De volgende patiëntgroepen zijn hiervoor uitgenodigd:</p>
         <ul>
         <li>patiënten geboren in 1956 – 1960</li>
         <li>patiënten met morbide obesitas ouder dan 60 jaar</li>
         <li>patiënten van geboren in 1952 – 1955</li>
         </ul>
         <p>Wij prikken alleen met het AstraZeneca vaccin, waardoor we op dit moment patiënten die na 1960 geboren zijn niet mogen vaccineren.</p>
         <p>Als u tot de doelgroep hoort, dan heeft u een uitnodiging ontvangen, of ontvangt u die deze week nog. In de uitnodiging staat de datum en de tijd waarop u wordt verwacht voor de coronaprik.</p>
         </div><footer class="entry-footer"></footer></article></main><div class="move-block-holder"></div></div>